[Unit]
Description=WindRiver IoT Service Watchdog

[Service]
Type=forking
ExecStart=-%bindir%/iot-watchdog start
ExecStop=-%bindir%/iot-watchdog stop

[Install]
WantedBy=multi-user.target
